[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
transfer_hook = "EdB4jakxsXGit5ojRshNv2bgfNNKgo6zqM5FEWiNLvtR"
bouncer = "4qn7TjxgnALkV5wjqSjeedSPx8XbacSYNKH4Gv54QEQC"

[programs.devnet]
transfer_hook = "EdB4jakxsXGit5ojRshNv2bgfNNKgo6zqM5FEWiNLvtR"
bouncer = "4qn7TjxgnALkV5wjqSjeedSPx8XbacSYNKH4Gv54QEQC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
test-transfer = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/test_transfer.ts"
